/* ---- Shared STYLE ---- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #ff7a00;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.about-heading{
    max-width: 827px;
    text-align: center;
}
.about-heading h2{
    font-size: 36px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.about-heading p {
    font-size: 20px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
/* ---- MAIN STYLE ---- */
header{
    background-color: #fff8f3;
    background: url(images/developer.png),url(images/header_bg.png),#fff8f3;
    background-position:top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    /*border: 1px solid red;*/
}
nav .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #ff7a00;
}
nav .nav-links{
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
}
nav .nav-links a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #474747;
}
#banner .banner-content{
    width: 585px;
}
#banner{
   /*border: 1px solid red;*/
   margin: 47px 38px 0px 230px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: semibold;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 20px;
    color: #757575;
    margin-bottom: 35px;
    line-height: 30px;
    width: 80%;
}
#banner .banner-image img{
    width: 585px;
    vertical-align: middle;
}
#about{
    padding-top: 130px;

}
#about .about-content{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff8f3;
    padding: 131px 156px;
}
#about .about-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
