/* ---- Shared STYLE ---- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #ff7a00;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
/* ---- MAIN STYLE ---- */
header{
    background-color: #fff8f3;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    /*border: 1px solid red;*/
}
nav .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #ff7a00;
}
nav .nav-links{
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
}
nav .nav-links a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #474747;
}

