/* ---- Shared STYLE ---- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #ff7a00;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.about-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.about-heading h2{
    font-size: 36px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.about-heading p {
    font-size: 20px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

.text-center{
    text-align: center;
    padding-top: 20px;
}


/* ---- MAIN STYLE ---- */
header{
    background-color: #fff8f3;
    background: url(images/developer.png),url(images/header_bg.png),#fff8f3;
    background-position:top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1265px;
    margin: 0 auto;
    /*border: 1px solid red;*/
}
nav .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #ff7a00;
}
nav .nav-links{
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
}
nav .nav-links a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #474747;
}
#banner .banner-content{
    width: 585px;
}
#banner{
   /*border: 1px solid red;*/
   margin: 47px 38px 0px 230px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: semibold;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 20px;
    color: #757575;
    margin-bottom: 35px;
    line-height: 30px;
    width: 80%;
}
#banner .banner-image img{
    width: 585px;
    vertical-align: middle;
}
#about{
    padding-top: 130px;

}
#about .about-content{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff8f3;
    padding: 131px 156px;
}
#about .about-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
#about .about-info .info-card p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}
#about .about-info .info-card h4{
    font-size: 20px;
    font-weight: semibold;
    color: #181818;
}

#skills, #Resume{
    padding-top: 130px;
    padding-bottom: 130px;

}

#skills .skills-content {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;

}

.skills-box{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 20px;
}
.skills-box .skill-card{
    padding: 30px;
    max-width: 265px;
    border: #181818 1px solid;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.skill-card img{
    width: 44px;
    height: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 24px;
    font-weight: semibold;
    color: #181818;
    margin-bottom: 15px;
}
.skill-card p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}

.Resume-container{
    display: flex;
    gap: 24px;
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0px;
}

.section-title{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}
.Resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.card-title{
    font-size: 24px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}
.card-subtitle {
    font-size: 20px;
    font-weight: semibold;
    color: #474747;
    margin-bottom: 10px;
}
.card-description{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
footer{
    margin-top: 100px;
    background-color: #fff8f3;
    padding: 130px 0px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    gap: 116px;
}

footer .footer-container .social{
    width: 562px;
}
.footer-container h2{
    font-size: 36px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

footer .footer-container .social p{
    font-size: 20px;
    color: #474747;
    line-height: 30px;
    margin-bottom: 30px;
}
footer .footer-container .social .social-icons {
    display: flex;
    gap: 20px;
}
.footer-container input[type="text"], .footer-container textarea{
    width: 416px;
    padding: 18px 31px;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    margin-bottom: 24px;
}


@media screen and (max-width: 576px) {
    #skills, #Resume {
    padding-top: 60px;
    padding-bottom: 130px;
}
.skills-box {
    display: grid;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
}
#about {
    padding: 20px;
}

.about-heading h2 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
} 
.about-heading h2 {
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#about .about-info {
    flex-direction: column;
}
#about .about-info .info-card p {
    font-size: 15px;
    color: #757575;
    line-height: 10px;
    padding-bottom: 5px;
}
.about-heading {
    text-align: center;
    margin: 0 auto;
}

#about .about-content {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff8f3;
    padding: 10px 20px;
}

.footer-container {
    flex-direction: column;
}

footer .footer-container .social {
    width: 100%;
}

.Resume-container {
    flex-direction: column;
}
nav .logo {
    display: grid;
    text-align: center;
}

nav .nav-links {
    margin-top: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 20px 20px;
}

#banner {
    margin: 20px;
    flex-direction: column;
}
#banner .banner-content {
 width: 100%;
}

.gapp{
    display: block;
}

header {
    width: 100%;
    background-color: #fff8f3;
    background: url(images/developer.png), url(images/header_bg.png), #fff8f3;
    background-position:left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

#banner .banner-image img {
    width: 100%;
    vertical-align: middle;
}
.footer-container {

    width: 100%;
    margin: 0 auto;
    gap: 116px;
    padding: 20px 20px;
}


}
